#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  text-align: center;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-color: rgb(17, 15, 15);
  color: white;
}

h1 {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

p {
  text-align: center;
  font-family: sans-serif;    
}

ol {
  text-align: center;  
  list-style-position: inside;
  font-size: 24px;   
}

.SubmitButton{
  text-align: center; 
}

#fact-container {
  text-align: center;
  font-family: sans-serif;
}

.fa {
  padding: 20px;
  width: 50px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  color: lightskyblue;
}

.fa-github {
  color: white;
}

